<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element" dropdown>
                    <span>
                        <img alt="image" class="img-circle" style=" width: 48px;" src="img/profile.jpg">
                     </span>
                    <a class="dropdown-toggle" dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">Mainor Gamboa</strong>
                                </span>
                            </span>
                    </a>
                </div>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="index.main"><i class="fa fa-laptop"></i> <span class="nav-label">Project</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.minor"><i class="fa fa-angellist"></i> <span class="nav-label">About me</span></a>
            </li>
            
        </ul>

    </div>
</nav>